* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.text-slanted {
  font-family: "Courgette", cursive;
}

.text-orange {
  color: rgb(236, 113, 13);
}

.letter-spacing {
  letter-spacing: 0.5rem;
}

.header-hero,
.default-hero {
  background: url("./img/header.jpg") center/cover no-repeat;
  min-height: calc(100vh - 67px);
}

.default-hero {
  background: url("./img/default.jpg") center/cover no-repeat;
}

/* @media screen and (max-width: 719px) {
  .header-hero,
  .default-hero {
    min-height: calc(100vh - 147px);
  }
} */
